<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/index.css" rel="stylesheet" />
    <title>URL shortener</title>
  </head>

  <body>
    <nav class="navbar navbar-info bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            alt=""
            width="30"
            height="30"
          />
          <span class="text-dark">短網址產生器</span>
        </a>
      </div>
    </nav>
    <div class="frombar">
      {{{body}}}
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/406509fb3e.js"
      crossorigin="anonymous"
    ></script>
  </body>

</html>