<div class="container flex-column mb-3 text-center" style="width: 420px;">
  <h2 class="text-body-secondary fw-bold ms-2">URL shortener</h2>
  <img
    class="mb-4"
    src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    width="90px"
    height="90px"
    alt="logo"
  />

  <form action="/shoturl" method="post">
    <div class="mb-3 d-flex justify-content-center flex-wrap">
      <input
        type="url"
        class="form-control mb-3"
        name="originalUrl"
        placeholder="Enter URL"
        style="width:400px"
      />
      <button class="btn btn-primary ms-2" type="submit">Shorten</button>
      <button class="btn btn-primary ms-2" type="reset">resect</button>
    </div>

  </form>

</div>